/******************************************
*  Author : mcunkelman   
*  Created On : Mon Mar 29 2021
*  File : style.css
*******************************************/

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
html {
    width: 100%;
}
body {
    width: 100%;
    background-color: gray;
}
nav {
    height: 4em;
    width: 100%;
    background-color: darkorange;
    color: white;
}
#logo {
    clear: right;
    border: 1px solid black;
}
#menu{
    margin-right: 1em;
    float: right;
    border: 1px solid black;
}
nav ul{
    list-style-type: none;
    padding-top: 0;
    border: 1px solid black;
}
nav li{
    display: inline;
    border-left: 2px solid navy;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
nav a {
    text-decoration: none;
    padding-top: 0.1em;
    padding-bottom: 0.1;
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-size: 1.3em;
    color: navy;
}
nav a:hover{
    color: blue;
}
#wrapper{
    width: 80%;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    color: navy;
    min-height: 400px;
}
footer{
    width: 80%;
    min-height: 4em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: navy;
    color: white;
}
